.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0.4;
}
.container {
  border-radius: 20px;
  width: 40vw;
}
.form-input {
  width: 40%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.btn-add {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #3f72af;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
